<header>
    <nav>
        <ul style="list-style: none; display: flex; justify-content: space-around; padding: 0;">
            <li><a href="{{site.url}}{{ site.baseurl }}/index.html">Home</a></li>
            <li><a href="{{site.url}}{{ site.baseurl }}/lit-review-old.html">Lit Review OLD</a></li>
            <li><a href="{{site.url}}{{ site.baseurl }}/lit-review-new.html">Lit Review NEW</a></li>
            <li><a href="{{site.url}}{{ site.baseurl }}/lit-review-guide.html">Lit Review Guide</a></li>
        </ul>
    </nav>
</header>
<hr>