<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
	<link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <script src="{{site.baseurl}}/filter.js"></script>
</head>
<body>
{% include nav.html %}
<main>
    <h1>{{ page.Title }}</h1>
    <p><strong>Key:</strong> {{ page.Key }}</p>
    <p><strong>Author:</strong> {{ page.Author }}</p>
    <p><strong>Title:</strong> {{ page.Title }}</p>
    <p><strong>Year:</strong> {{ page["Publication Year"] }}</p>
    <p><strong>Tags:</strong> {{ page["Manual Tags"] }}</p>
    <hr>
    <p><strong>Notes:</strong> {{ page.Notes }}</p>
    <hr>
    <p><strong>Abstract:</strong> {{ page["Abstract Note"] }}</p>
</main>
</body>
</html>